@media (max-width: 768px) {
    .app-container {
      margin: 0;
    }
  
    .sidebar {
      width: 100%;
      height: auto;
      padding: 0;
      pointer-events: none;
    }
  
    .filter-sidebar {
      display: none;
    }
  
    .search-container {
      pointer-events: all;
      padding: 10px 20px;
      background: rgba(45, 27, 105, 0.9);
    }
  
    .search-input {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      color: white;
    }
  
    .search-input::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  
    .search-icon {
      color: rgba(255, 255, 255, 0.5);
    }
  
    .leaflet-control-zoom {
      margin: 0 10px 10px 0 !important;
    }
  
    .leaflet-control-zoom a {
      width: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
    }
  }
  @media (max-width: 768px) {
    .app-container {
      margin: 10px 0px;
      height: calc(100vh - 40px);
    }
    .sidebar {
        display: none;
    }
    .filter-sidebar {
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding: 16px;
    }
    .leaflet-control-zoom {
      border: none !important;
      margin: 0 10px 25px 0 !important;
    }
    .leaflet-control-zoom a {
      width: 30px !important;
      height: 30px !important;
      font-size: 16px !important;
      padding: 5px 0px !important;
    }
    
  }